# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/
env/

# Build artifacts
build/
dist/
# spec 파일은 커스텀 안 하면 무시, 커스텀했으면 주석 처리
*.spec

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# Secrets / env
.env
*.env
